# Script to omit different files and folders that are not required to be tested
[run]
omit =
    *venv/*
    conftest.py
    *tests*
    *settings.py*


[report]
omit =
    *venv/*
    conftest.py
    *tests*
    *__init__.py*
    *settings.py*
