{% extends '../../store/base.html' %}
{% load i18n static %}
{% load static %}
{% load humanize %}
{% block title %}Enter New Passowrd{% endblock %}


{% block content %}

<script>
    window.location.href = {% url 'account:dashboard' %}
</script>

<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7 max-auto">


                        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                        <form class="newpw-from p-4 rounded col-lg-10 mx-auto" method="post" action="">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-primary" role="alert">
                                Error: Password doesnot match!
                            </div>
                            {% endif %}
                            <fieldset class="module aligned">
                                <div class="form-row field-email">
                                    <label for="small font-weight-bold">{% translate 'New Password:' %}</label>
                                    {{ form.new_password1 }}
                                    <label for="small font-weight-bold">{% translate 'New Password Again:' %}</label>
                                    {{ form.new_password2 }}
                                </div>
                                <ul>
                                    <li>Your password can't be too similar to your other personal information.</li>
                                    <li>Your password must contain at lease 8 characters.</li>
                                    <li>Your password can't be a commonly used password.</li>
                                    <li>Your password can't be entirely numeric.</li>
                                </ul>
                                <input class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="{% translate 'Sumit Password' %}">
                                <p class="text-center"><a href="{% url 'account:login'%}">Already Have an account?</a></p>
                            </fieldset>
                        </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}