{% extends '../base.html' %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'payment/css/main.css' %}"> {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 max-auto">
                            {% block sub_content %}
                            
                            {% endblock  %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}