{% extends '../sub_base.html' %}
{% load i18n static %}
{% load static %}
{% load humanize %}
{% block title %}Enter New Passowrd{% endblock %}


{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form class="newpw-from p-4 rounded col-lg-10 mx-auto" method="post" action="">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Password doesnot match!
    </div>
    {% endif %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            <label for="small font-weight-bold">{% translate 'New Password:' %}</label>
            {{ form.new_password1 }}
            <label for="small font-weight-bold">{% translate 'New Password Again:' %}</label>
            {{ form.new_password2 }}
        </div>
        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at lease 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        <input class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="{% translate 'Submit Password' %}">
        <p class="text-center"><a href="{% url 'account:login'%}">Already Have an account?</a></p>
    </fieldset>
</form>
{% endblock %}